<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de Inclusão de Estudantes</title>
		</head>
	<body>
		<h1>Formulário para inclusão de estudantes</h1>
		<section>
			<% if(erros) { %>
				<ul>
					<% for(let i = 0; i < erros.length; i++){ %>
						<li>
							<%= erros[i].msg %>
						</li>
					<% } %>
				</ul>
			<% } %>
		</section>
		<form action="/estudante/salvar" method="post">
			<input type="text" name="nome" placeholder="Digite o nome do estudante" value="<%= estudante.nome %>"><br />
			<input type="text" name="cidade" placeholder="Cidade" value="<%= estudante.cidade %>"><br />
			<input type="date" name="datanascimento" placeholder="Data de Nascimento"  value="<%= estudante.datanascimento %>"><br />
			<input type="text" name="nota" placeholder="Digite a nota"  value="<%= estudante.nota %>">
			<input type="submit" value="enviar"><br />
		</form>
	</body>
</html>