<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Formulário de Inclusão de usuario</title>
</head>

<body>
    <h1>Formulário para inclusão de usuario</h1>

    <section>
        <% if(erros) { %>
            <ul>
                <% for(let i = 0; i < erros.length; i++){ %>
                    <li>
                        <%= erros[i].msg %>
                    </li>
                <% } %>
            </ul>
        <% } %>
    </section>
    <form action="/salvar" method="post">
        <input type="text" name="nome" placeholder="Digite o nome do usuario" value="<%= usuario.nome %>"><br />
        <input type="text" name="email" placeholder="Digite o número de páginas" value="<%= usuario.email %>"><br />
        <input type="text" name="datadascimento" placeholder="Digite a data dascimento" value="<%= datanascimento.autor %>"><br />
        <input type="text" name="senha" placeholder="Digite uma senha" value="<%= usuario.autor %>"><br />

        <input type="submit" value="enviar">
    </form>

</body>

</html>