<!DOCTYPE html>
<html>

<head>
    <title>Disciplina Desenvolvimento de Sistemas Web</title>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: #5f5757;
        }

        h1 {
            text-align: center;
            background-color: rgb(12, 180, 96);
            color: white;
        }

        button {
            background-color: #b9243d;
            ;
        }

        form {
            margin-right: 30%;
            margin-left: 30%;
        }
    </style>
</head>

<body>
    <h1>Rota Listar Usuarios</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Nivel</td>
            <td>E-mail</td>
            <td>Data de Nascimento</td>
        </tr>
        <% for(let i=0;i<usuario.length;i++){ %>
        <tr>
            <td><%= usuario[i].idusuario %></td>
            <td><%= usuario[i].nome %></td>
            <td><%= usuario[i].nivel %></td>
            <td><%= usuario[i].email %></td>
            <td><%= usuario[i].datanascimento %></td>
        </tr>
        <% } %>
    </table>

</body>

</html>